# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Environment Variables
.env

# Project Specific Storage
storage/
logs/
scratch/
notebook/
data/
!data/raw/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
