pydantic
pydantic-settings

langsmith
langchain
langchain-google-genai
langchain-community
langchain-ollama
langgraph
google-generativeai
langchain-tavily

tavily-python

docling
pypdf

langchain-chroma
chromadb

fastapi
uvicorn
python-multipart